In [162]:
import pandas as pd
import numpy as np

from src.clean_data import clean_data

In [163]:
data = clean_data()

In [164]:
genres = (
    data["genres"]
    .apply(eval)
    .explode()
    .pipe(pd.get_dummies)
    .groupby("id")
    .sum()
)

In [165]:
production_companies = (
    data["production_companies"]
    .apply(eval)
    .explode()
    .pipe(pd.get_dummies)
    .groupby("id")
    .sum()
    .clip(upper=1)
)

In [173]:
(
    genres
    .replace(0, np.nan)
    .mul(data["vote_average"] - data["vote_average"].mean(), axis=0)
    .agg(["mean", "count"])
    .transpose()
    .query("count > 50")
    .sort_values("mean")
    .query("mean < -0.4 or mean > 0.4")
)

             mean  count
Horror  -0.407037  652.0
War      0.421275  188.0
History  0.482653  253.0

In [171]:
(
    production_companies
    .replace(0, np.nan)
    .mul(data["vote_average"] - data["vote_average"].mean(), axis=0)
    .agg(["mean", "count"])
    .transpose()
    .query("count > 50")
    .sort_values("mean")
    .query("mean < -0.4 or mean > 0.4")
)

                        mean  count
Dimension Films    -0.755519   59.0
Dune Entertainment -0.585463   63.0
Screen Gems        -0.437129   60.0
United Artists      0.425371   80.0
Film4 Productions   0.451717   52.0